doctype html
html(lang='fr')


  body
    a(href="/admin" class="btn btn-info") <- Liste
    br
    br
    form(method="POST" enctype="multipart/form-data")
      .form-group
        label(for='Produit') Produit
        input#title.form-control(type='text' placeholder='Produit' name="product" value=products.product)
      .form-group
        label(for='Référence') Référence
        input#title.form-control(type='text' placeholder='Reference' name="reference" value=products.reference)
      .form-group
        label(for='Marque') Marque
        input#title.form-control(type='text' placeholder='Marque' name="marque" value=products.marque)
      .form-group
        label(for='Bois_utilise') Bois utilisé
        input#title.form-control(type='text' placeholder='Bois' name="bois_utilise" value=products.bois_utilise)
      .form-group
        label(for='description') Description
        textarea#text.form-control(placeholder='Texte produit' name="description")=products.description
      .form-group
        label(for='exampleInputFile') File input
        input#exampleInputFile(type='file' name="image")
      button.btn.btn-default(type='submit') Modifier


    script(src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=nvqmgo0i6oqkgn87olmzm529ujlraoqtzi5typcljepfnesh')
    script.
        tinymce.init({ selector:'textarea' });
