extends layout

block content
	a(href="/admin/create" class="btn btn-info") Création d'article 
	br
	br
	table.table.table-striped.table-bordered
		tr
			th #
			th Produit
			th Référence
			th Marque
			th Bois utilisé
			th Description
			th Image
			th Suppression 
		each produit in products
			tr
				td= produit.id_products
				td= produit.product
				td= produit.reference
				td= produit.marque
				td= produit.bois_utilise
				td= produit.description
				td
				td 
					a(href="/admin/supprimer/produit-" + produit.id_products onclick="return confirm('Voulez-vous supprimer ce produit ?');") Supprimer produit / 
					a(href="/admin/update/produit" + produit.id_products) Modifier produit 